# Cache
<IfModule mod_expires.c>
    <FilesMatch "\.(jpg|jpeg|gif|png|pdf|css|js|ico|swf|svg|ttf|eot|woff)$">
        ExpiresActive On
        ExpiresDefault "access plus 1 month"
    </FilesMatch>
</IfModule>

# Gzip
<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    AddOutputFilterByType DEFLATE text/html text/css text/js application/x-javascript text/plain text/xml application/x-shockwave-flash
</IfModule>

# ETag
FileETag MTime Size

# Errorz
ErrorDocument 404 /404.php